* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1a34;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
header .marcaHotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  margin: 0.625rem;
}
header .marcaHotel img {
  width: 3.75rem;
  height: 3.75rem;
}
header .marcaHotel h1 {
  font-size: 1.625rem;
  color: white;
  font-family: "Playfair Display", serif;
}

.navbar {
  background-image: linear-gradient(to bottom, #1e1a43, rgb(153, 140, 168));
}

.navbar-nav {
  gap: 0.9375rem;
  margin-left: 3.125rem;
}
.navbar-nav li a {
  color: white;
  font-size: 1.25rem;
  font-weight: bolder;
  transition: 0.5s;
  font-family: "Playfair Display", serif;
}
.navbar-nav:hover {
  color: black;
}

.btnBookNow {
  color: black;
  width: 6.25rem;
  background-color: rgb(198, 196, 210);
  padding: 0.9375rem;
  box-shadow: 0px 0px 4px black;
  font-size: 0.75rem;
  font-weight: bold;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: 1s;
}
.btnBookNow:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 10px black;
}

.buttonForm {
  width: 8rem;
  background-color: rgb(198, 196, 210);
  box-shadow: 0px 0px 4px black;
  font-size: 0.9375rem;
  font-weight: bold;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: 1s;
}
.buttonForm:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 10px black;
}

.btnServ {
  background-color: rgba(198, 196, 210, 0.7);
  color: rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  font-family: "Antic", sans-serif;
  font-weight: bolder;
  transition: 1s;
}
.btnServ:hover {
  background-color: rgb(198, 196, 210);
}

.mainSection {
  background-color: #1e1a34;
  background-image: url("https://i.postimg.cc/qvr0wvfH/hotel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 7.5rem;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "cuad1 cuad2" "cuad3 cuad3";
}
.mainSection .mainSlogan {
  grid-area: cuad1;
  justify-self: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: none;
  gap: 0.1875rem;
  background-color: rgba(30, 26, 52, 0.7);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(4px);
  width: 37.5rem;
  height: 14.375rem;
  padding: 0.3125rem 0 0.1875rem 0.3125rem;
}
.mainSection .mainSlogan p {
  color: white;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  padding-left: 1.25rem;
}
.mainSection .mainSlogan h2 {
  color: white;
  text-align: center;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
}
.mainSection .reservationWindow {
  justify-self: center;
  align-self: center;
  grid-area: cuad3;
  background-color: rgba(198, 196, 210, 0.4);
  color: rgb(0, 0, 0);
  backdrop-filter: blur(4px);
  width: 87vw;
  height: 8.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
}
.mainSection .reservationWindow form {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
}
.mainSection .reservationWindow form legend {
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
}
.mainSection .reservationWindow form input {
  padding: 0.3125rem;
  height: 2.8125rem;
}
.mainSection .reservationWindow form .destinationInput {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: none;
}
.mainSection .reservationWindow form .dateInput {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: none;
}
.mainSection .reservationWindow form .guestInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: none;
  justify-self: center;
}
.mainSection .reservationWindow form .buttonFormInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: none;
}

.secondarySection {
  margin-top: 6.25rem;
  background-color: #1e1a34;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
}
.secondarySection .reservationResponsive {
  display: none;
}
.secondarySection .openIntro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}
.secondarySection .openIntro .divisoryLane {
  height: 0.125rem;
  width: 31.25rem;
  background-color: rgb(255, 255, 255);
  margin: 2.5rem 0;
}
.secondarySection .openIntro .row .col-10 {
  padding-right: 0;
}
.secondarySection .openIntro .row .col-10 .carouselIntro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  border: 0.625rem solid #1e1a34;
}
.secondarySection .openIntro .row .col-10 .carouselIntro .carouselCustom {
  width: 90%;
  height: 25rem;
}
.secondarySection .openIntro .row .col-10 .carouselIntro .carouselCustom img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.secondarySection .openIntro .row .col-lg-4 {
  padding-right: 0;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: none;
}
.secondarySection .openIntro .row .col-lg-4 h2 {
  color: white;
  font-family: "Playfair Display", serif;
}
.secondarySection .openIntro .row .col-lg-4 p {
  color: white;
  font-family: "Antic", sans-serif;
}
.secondarySection .openIntro .reservationResponsive {
  display: none;
}

.thirdSection {
  height: 250vh;
}
.thirdSection .theHotel {
  height: 100vh;
  margin-top: 9.375rem;
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
}
.thirdSection .theHotel .theHotelInfo {
  justify-self: center;
  align-self: center;
  height: 100vh;
  background-image: linear-gradient(to right, #1e1a43, rgb(153, 140, 168));
  opacity: 0.8;
  padding: 0.9375rem;
}
.thirdSection .theHotel .theHotelInfo h3 {
  text-align: center;
  padding-left: 2.1875rem;
  color: white;
  margin-top: 1.25rem;
  font-family: "Playfair Display", serif;
}
.thirdSection .theHotel .theHotelInfo p {
  margin-top: 3.125rem;
  font-size: 1.5rem;
  color: white;
  font-family: "Antic", sans-serif;
}
.thirdSection .theHotel .pool1 {
  height: 100vh;
  background-image: url(https://i.postimg.cc/90T5PvJf/hotel-pool1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.thirdSection .theHotel .pool1 .theHotelInfoResponsive {
  display: none;
}
.thirdSection .designAndComfort {
  height: 100vh;
  margin-top: 12.5rem;
  margin-bottom: 12.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
}
.thirdSection .designAndComfort .airVision {
  height: 100vh;
  background-image: url(https://i.postimg.cc/g0SWGyxG/hotelairvision.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.thirdSection .designAndComfort .airVision .designAndComfortInfoResponsive {
  display: none;
}
.thirdSection .designAndComfort .designAndComfortInfo {
  padding: 0.9375rem;
  justify-self: center;
  align-self: center;
  height: 100vh;
  opacity: 0.8;
  background-image: linear-gradient(to left, #1e1a43, rgb(153, 140, 168));
}
.thirdSection .designAndComfort .designAndComfortInfo h3 {
  text-align: center;
  padding-left: 2.1875rem;
  color: white;
  margin-top: 1.25rem;
}
.thirdSection .designAndComfort .designAndComfortInfo p {
  margin-left: 0.125rem;
  margin-top: 3.125rem;
  font-size: 1.5rem;
  color: white;
}

footer {
  padding: 0;
  padding-top: 1.5625rem;
  height: 17.1875rem;
  background-color: #5F5A7C;
}
footer .lastLine {
  margin: 0;
  padding: 0;
}
footer .lastLine img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
footer .infoFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}
footer .infoFooter .logoMobile {
  display: none;
}
footer .infoFooter .directionAndContact p {
  color: white;
  font-family: "Antic", sans-serif;
}
footer .infoFooter .footerList ul {
  list-style: none;
}
footer .infoFooter .footerList ul li {
  color: white;
  font-family: "Antic", sans-serif;
}
footer .dropup {
  display: none;
}

.sectionMainAcc {
  background-image: url(https://i.postimg.cc/XNyb0C40/hotelroommain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.sectionMainAcc .mainTittle {
  width: 40rem;
  height: 12.5rem;
  background-color: rgba(30, 26, 52, 0.7);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(4px);
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: flex-end;
  justify-self: center;
}
.sectionMainAcc .mainTittle h2 {
  font-size: 4rem;
  text-align: center;
  padding: 3.5938rem 0;
}

.sectionSecondaryAcc {
  background-color: rgb(198, 196, 210);
  padding: 1.25rem 0rem;
}
.sectionSecondaryAcc .titleSectionOne {
  background-color: rgba(95, 90, 124, 0.8);
  color: white;
  width: 95vw;
  height: 5.625rem;
  padding: 1.25rem 1.25rem;
}
.sectionSecondaryAcc .titleSectionOne h3 {
  font-size: 2.5rem;
}
.sectionSecondaryAcc .StandardRoomsCards {
  padding: 1.25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 6.25rem;
}

.card {
  margin-top: 20px;
  width: 24.8125rem;
  height: 31.5rem;
  background-color: #1e1a34;
  border: 1px solid rgb(198, 196, 210);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: none;
}
.card img {
  margin-top: 5px;
  width: 22.625rem;
  height: 14.125rem;
}
.card h4 {
  font-size: 1.875rem;
  color: white;
}
.card button .moreInfo {
  display: flex;
  font-size: 1.875rem;
  color: white;
  transition: 1s;
}
.card button .moreInfo img {
  width: 1.875rem;
  height: 1.875rem;
}
.card button .moreInfo:hover {
  transform: scale(1.5);
}
.card .buttonBook {
  height: 2.5rem;
  width: 8rem;
  background-color: rgb(198, 196, 210);
  box-shadow: 0px 0px 4px black;
  font-size: 0.9375rem;
  font-weight: bold;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: 1s;
}
.card .buttonBook:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 10px black;
}

.cardResponsive {
  display: none;
}

.cardTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: none;
  margin-top: 1.5625rem;
  width: 24.8125rem;
  height: 31.5rem;
  background-color: rgb(198, 196, 210);
  border: 1px solid #1e1a34;
}
.cardTwo img {
  width: 22.625rem;
  height: 14.125rem;
}
.cardTwo h4 {
  font-size: 1.875rem;
  font-family: "Playfair Display", serif;
}
.cardTwo button .moreInfoTwo {
  display: flex;
  font-size: 1.875rem;
  color: black;
  transition: 1s;
}
.cardTwo button .moreInfoTwo img {
  width: 1.875rem;
  height: 1.875rem;
}
.cardTwo button .moreInfoTwo:hover {
  transform: scale(1.5);
}
.cardTwo .buttonBook2 {
  height: 2.5rem;
  width: 8rem;
  box-shadow: 0px 0px 4px black;
  font-size: 0.9375rem;
  font-weight: bold;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: 1s;
  background-color: rgb(30, 26, 52);
  font-family: "Playfair Display", serif;
  color: white;
}
.cardTwo .buttonBook2:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 10px black;
}

.cardTwoResponsive {
  display: none;
}

.loungesAndSuites {
  padding: 1.25rem 0rem;
}
.loungesAndSuites .titleSectionTwo {
  background-color: rgb(198, 196, 210);
  color: black;
  width: 95vw;
  height: 5.625rem;
  padding: 1.25rem 0;
}
.loungesAndSuites .titleSectionTwo h3 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
}
.loungesAndSuites .loungesAndSuitesCards {
  padding: 1.25rem 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: wrap;
  gap: 6.25rem;
}

main .mainServicesSection {
  background-image: url(https://i.postimg.cc/jqfG1Y4x/resto-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
main .mainServicesSection .mainTittleServ {
  width: 40rem;
  height: 12.5rem;
  background-color: rgba(30, 26, 52, 0.7);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(4px);
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: flex-end;
  justify-self: center;
}
main .mainServicesSection .mainTittleServ h2 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  text-align: center;
  padding: 3.5938rem 0;
}
main .servicesCards {
  background-color: #1e1a34;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
  gap: 6.25rem;
  margin: 6.25rem;
}
main .servicesCards .serviceCard {
  cursor: pointer;
  width: 21.6875rem;
  height: 24.5625rem;
  background-color: rgba(222, 217, 253, 0.8);
  justify-self: center;
  align-self: center;
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  transition: 1s;
}
main .servicesCards .serviceCard .animation {
  display: none;
  position: absolute;
  font-family: "Antic", sans-serif;
  font-size: 1.5rem;
  margin: auto;
  cursor: pointer;
  font-weight: bolder;
  transition: 1s;
}
main .servicesCards .serviceCard img {
  width: 21.6875rem;
  height: 14.5rem;
}
main .servicesCards .serviceCard h4 {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}
main .servicesCards .serviceCard p {
  margin: 0 0.625rem 0.625rem 0.625rem;
  font-family: "Antic", sans-serif;
}
main .servicesCards .serviceCard:hover {
  background-color: rgba(222, 217, 253, 0.2);
  transition: 1s;
}
main .servicesCards .serviceCard:hover img {
  opacity: 0.2;
}
main .servicesCards .serviceCard:hover .animation {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  color: white;
  transform: scale(1.2);
}

.eventsSection {
  background-image: url(https://i.postimg.cc/sD7s5ZNJ/eventa-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.eventsSection div {
  width: 40rem;
  width: 40rem;
  height: 12.5rem;
  background-color: rgba(30, 26, 52, 0.7);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(4px);
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: flex-end;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
}
.eventsSection div h2 {
  font-size: 4rem;
  text-align: center;
  padding: 3.5938rem 0;
  font-family: "Playfair Display", serif;
}

.sectionContainer .socialEvents {
  background-color: rgba(83, 77, 118, 0.5);
  margin: 3.125rem 0;
}
.sectionContainer .socialEvents .socialEventsGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.sectionContainer .socialEvents .socialEventsGrid .containSocialInfo {
  display: grid;
  grid-template-rows: 1fr 3fr 0.5fr;
  padding: 0.9375rem;
}
.sectionContainer .socialEvents .socialEventsGrid .containSocialInfo h3 {
  justify-self: center;
  align-self: center;
  font-size: 3.5rem;
  color: white;
  font-family: "Playfair Display", serif;
}
.sectionContainer .socialEvents .socialEventsGrid .containSocialInfo p {
  color: white;
  width: 18.75rem;
  font-size: 1.5rem;
  justify-self: center;
  font-family: "Antic", sans-serif;
}
.sectionContainer .socialEvents .socialEventsGrid .containSocialInfo .verMas {
  justify-self: flex-start;
  align-self: flex-end;
  cursor: pointer;
}
.sectionContainer .socialEvents .socialEventsGrid .containSocialInfo .verMas:hover {
  color: #000000;
  font-weight: bold;
}
.sectionContainer .socialEvents .socialEventImgCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  padding: 1.5625rem 0;
}
.sectionContainer .socialEvents .socialEventImgCont img {
  max-width: 90%;
  height: auto;
}
.sectionContainer .carouselGal {
  display: none;
}
.sectionContainer .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: none;
}
.sectionContainer .gallery img {
  width: 25.625rem;
  height: 17.125rem;
  filter: opacity(0.4);
  transition: 1s;
}
.sectionContainer .gallery img:hover {
  filter: opacity(1);
  width: 35.875rem;
  height: 23.975rem;
  box-shadow: 0 0 1rem black;
}
.sectionContainer .conferenceRooms {
  background-color: rgba(83, 77, 118, 0.5);
  margin: 3.5rem 0;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .conferenceRooomsImgCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  padding: 1.5625rem 0;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .conferenceRooomsImgCont img {
  max-width: 90%;
  height: auto;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo {
  padding: 0.9375rem;
  display: grid;
  grid-template-rows: 1fr 3fr 0.5fr;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo h3 {
  margin-left: 0.625rem;
  justify-self: center;
  align-self: center;
  font-size: 2.8125rem;
  color: white;
  font-family: "Playfair Display", serif;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo p {
  color: white;
  width: 18.75rem;
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
  font-family: "Antic", sans-serif;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo .verMasP {
  justify-self: flex-start;
  align-self: flex-end;
  cursor: pointer;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo .verMasP:hover {
  color: black;
  font-weight: bold;
}

.accHeader {
  position: static;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contenedor .frequentQuestions {
  justify-self: center;
  color: white;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}
.contenedor .frequentQuestions h3 {
  font-family: "Playfair Display", serif;
  font-size: 2.8125rem;
}
.contenedor .frequentQuestions .subrayado {
  width: 80%;
  height: 0.0625rem;
  background-color: white;
  margin: 10px 0;
}
.contenedor .frequentQuestions .questionsContainer .question {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  width: 80%;
  height: 6.875rem;
  background-color: rgba(222, 217, 253, 0.5);
  margin-top: 0.0625rem;
}
.contenedor .frequentQuestions .questionsContainer .question:last-child {
  margin-top: 0.125rem;
}
.contenedor .frequentQuestions .questionsContainer .question ul li {
  font-size: 1.125rem;
  font-family: "Antic", sans-serif;
  margin-right: 0.625rem;
}
.contenedor .contactForm {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: none;
  color: white;
  margin: 2.5rem 0;
}
.contenedor .contactForm .subrayado {
  margin-bottom: 0.625rem;
  width: 80%;
  height: 0.0625rem;
  background-color: rgb(255, 255, 255);
}
.contenedor .contactForm h3 {
  font-family: "Playfair Display", serif;
  font-size: 2.8125rem;
}
.contenedor .contactForm p {
  font-family: "Antic", sans-serif;
  width: 80%;
}
.contenedor .contactForm form {
  margin: 0.625rem 0;
}
.contenedor .contactForm form fieldset {
  border: none;
  height: 50rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 5fr 1fr;
  grid-template-areas: "name name" "email email" "number number" "textArea textArea" "send send";
}
.contenedor .contactForm form fieldset .name {
  width: 100%;
  grid-area: name;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: none;
  flex-wrap: none;
  gap: 3.75rem;
}
.contenedor .contactForm form fieldset .name .inputName input {
  height: 3.125rem;
  width: 100%;
}
.contenedor .contactForm form fieldset .name .inputLastname input {
  height: 3.125rem;
  width: 100%;
}
.contenedor .contactForm form fieldset .email {
  grid-area: email;
}
.contenedor .contactForm form fieldset .email input {
  width: 100%;
  height: 3.125rem;
}
.contenedor .contactForm form fieldset .number {
  grid-area: number;
}
.contenedor .contactForm form fieldset .number input {
  width: 100%;
  height: 3.125rem;
}
.contenedor .contactForm form fieldset .bloque {
  grid-area: textArea;
}
.contenedor .contactForm form fieldset .bloque .textArea legend {
  font-weight: bold;
}
.contenedor .contactForm form fieldset .bloque .textArea textarea {
  background-color: #C6C4D2;
  height: 19.375rem;
  width: 100%;
}
.contenedor .contactForm form fieldset .bloque .textArea p {
  font-family: "Antic", sans-serif;
  font-size: 0.75rem;
  color: rgb(45, 145, 212);
}
.contenedor .contactForm form fieldset .bloque .optionYes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: none;
  gap: 0.625rem;
}
.contenedor .contactForm form fieldset .bloque .optionYes input {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.9375rem 0;
  padding: 0.9375rem;
}
.contenedor .contactForm form fieldset .bloque .optionYes p {
  font-size: 1.125rem;
}
.contenedor .contactForm form fieldset .bloque .boton {
  grid-area: send;
}
.contenedor .contactForm form input {
  background-color: #C6C4D2;
}

.buttonSend {
  width: 10.9375rem;
  height: 3.125rem;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  font-weight: bold;
  transition: 1s;
}
.buttonSend:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 0.625rem black;
}

@media (max-width: 1400px) {
  .mainSection .mainSlogan {
    width: 34rem;
    height: 12rem;
  }
  .mainSection .mainSlogan p {
    font-size: 1.8rem;
  }
  .mainSection .mainSlogan h2 {
    font-size: 3rem;
  }
  .thirdSection .theHotel .theHotelInfo h3 {
    font-size: 1.25rem;
  }
  .thirdSection .theHotel .theHotelInfo p {
    font-size: 1.25rem;
  }
  .thirdSection .designAndComfort .designAndComfortInfo h3 {
    font-size: 1.25rem;
  }
  .thirdSection .designAndComfort .designAndComfortInfo p {
    font-size: 1.3125rem;
  }
  /* events */
  .eventsSection div {
    width: 21.875rem;
    height: 9.375rem;
  }
  .eventsSection div h2 {
    font-size: 3rem;
  }
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo h3 {
    font-size: 2.625rem;
  }
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo p {
    font-size: 1.25rem;
  }
  .sectionContainer .gallery img {
    width: 16.4rem;
    height: 10.96rem;
  }
  .sectionContainer .gallery img:hover {
    width: 22.95rem;
    height: 15.3438rem;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo h3 {
    font-size: 2.375rem;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo p {
    font-size: 1.25rem;
  }
  /* contact */
  .contenedor .frequentQuestions h3 {
    font-size: 2rem;
  }
  .contenedor .frequentQuestions .questionsContainer .question {
    width: 80%;
  }
  .contenedor .frequentQuestions .questionsContainer .question ul li {
    font-size: 1rem;
  }
  .contenedor .contactForm h3 {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) {
  .mainSection .mainSlogan {
    width: 27rem;
    height: 10rem;
  }
  .mainSection .mainSlogan p {
    font-size: 1.5rem;
  }
  .mainSection .mainSlogan h2 {
    font-size: 2.5rem;
  }
  .mainSection .reservationWindow form legend {
    font-size: 1rem;
  }
  .mainSection .reservationWindow form .destinationInput input {
    width: 9.375rem;
  }
  .mainSection .reservationWindow form .dateInput input {
    width: 9.375rem;
  }
  .mainSection .reservationWindow form .guestInput input {
    width: 9.375rem;
  }
  .mainSection .reservationWindow form .buttonFormInput input {
    width: 9.375rem;
  }
  .thirdSection .theHotel .theHotelInfo h3 {
    font-size: 1.25rem;
  }
  .thirdSection .theHotel .theHotelInfo p {
    font-size: 1.2rem;
  }
  .thirdSection .designAndComfort .designAndComfortInfo h3 {
    font-size: 1.25rem;
  }
  .thirdSection .designAndComfort .designAndComfortInfo p {
    font-size: 1.2rem;
  }
  /* accommodations */
  .sectionMainAcc div {
    width: 30rem;
  }
  .sectionMainAcc div h2 {
    font-size: 3rem;
  }
}
@media (max-width: 991px) {
  header .navBoot .menuContainer {
    height: 6.875rem;
  }
  header .navBoot .menuContainer .colapsoNav .barraNavegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: none;
    background-color: #1e1a34;
    width: 50%;
    height: 82vh;
    margin: 0;
  }
  header .navBoot .menuContainer .colapsoNav .barraNavegacion li a {
    font-size: 1.25rem;
  }
  header .navBoot .menuContainer .colapsoNav form button {
    display: none;
  }
  .mainSection .mainSlogan {
    width: 23rem;
  }
  .mainSection .reservationWindow {
    height: 9.375rem;
  }
  .mainSection .reservationWindow form {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "dest date gues" "dest date but";
  }
  .mainSection .reservationWindow form legend {
    font-size: 1rem;
    font-weight: bolder;
  }
  .mainSection .reservationWindow form .destinationInput {
    grid-area: dest;
  }
  .mainSection .reservationWindow form .destinationInput input {
    width: 9.375rem;
  }
  .mainSection .reservationWindow form .dateInput {
    grid-area: date;
  }
  .mainSection .reservationWindow form .dateInput .checkOutIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
  }
  .mainSection .reservationWindow form .dateInput .checkOutIn input {
    width: 9.375rem;
  }
  .mainSection .reservationWindow form .guestInput {
    grid-area: gues;
    align-self: flex-end;
  }
  .mainSection .reservationWindow form .guestInput input {
    width: 9.375rem;
  }
  .mainSection .reservationWindow form .buttonFormInput {
    grid-area: but;
    align-self: center;
  }
  .secondarySection .openIntro .row .col-10 {
    width: 100%;
  }
  .secondarySection .openIntro .divisoryLane {
    display: none;
  }
  .thirdSection .theHotel .theHotelInfo p {
    font-size: 1.125rem;
  }
  .thirdSection .designAndComfort .designAndComfortInfo p {
    font-size: 1.125rem;
  }
  /* accommodations */
  /* no hay estilo agregado */
  /* services */
  main .mainServicesSection div {
    width: 30rem;
    height: 9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
  }
  main .mainServicesSection div h2 {
    font-size: 3rem;
  }
  main .servicesCards {
    margin-left: 0;
    margin-right: 0;
    gap: 0.625rem;
  }
  /* events */
  .eventsSection div {
    align-self: center;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .sectionContainer .socialEvents .socialEventsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo {
    grid-row: 2/3;
  }
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo h3 {
    align-self: flex-start;
  }
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo .verMas {
    justify-self: center;
  }
  .sectionContainer .socialEvents .socialEventsGrid .socialEventImgCont {
    grid-row: 1/2;
  }
  .sectionContainer .gallery img {
    width: 8.9688rem;
    height: 5.9938rem;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .conferenceRoomsImgCont {
    grid-row: 1/2;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo {
    grid-row: 2/3;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo h3 {
    justify-self: center;
    align-self: flex-start;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo .verMasP {
    justify-self: center;
  }
  .contenedor .frequentQuestions h3 {
    font-size: 1.75rem;
  }
  .contenedor .contactForm h3 {
    font-size: 1.75rem;
  }
  .contenedor .contactForm form fieldset .name {
    gap: 1.25rem;
  }
}
@media (max-width: 768px) {
  .mainSection {
    background-position-y: 6.875rem;
  }
  .mainSection .mainSlogan {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
  }
  .mainSection .reservationWindow {
    display: none;
  }
  .secondarySection {
    display: block;
    height: 180vh;
  }
  .secondarySection .reservationResponsive {
    display: block;
    width: 100%;
    height: 18.75rem;
    background-color: rgba(198, 196, 210, 0.8);
    color: rgb(0, 0, 0);
    backdrop-filter: blur(4px);
    margin: 2.5rem 0;
  }
  .secondarySection .reservationResponsive form {
    width: 100%;
    height: 18.75rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "dr1 dr1 dr3 dr3" "dr2 dr2 dr2 dr2" "dr4 dr4 dr4 dr4";
  }
  .secondarySection .reservationResponsive form legend {
    font-family: "Playfair Display", serif;
  }
  .secondarySection .reservationResponsive form .destinationInputResponsive {
    grid-area: dr1;
    grid-template-rows: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: none;
    justify-self: flex-end;
    align-self: center;
    margin-right: 0.625rem;
    height: 100%;
  }
  .secondarySection .reservationResponsive form .destinationInputResponsive input {
    width: 15.625rem;
    height: 3.125rem;
  }
  .secondarySection .reservationResponsive form .dateInputResponsive {
    width: 100%;
    grid-area: dr2;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "c1 c1" "c2 c3";
  }
  .secondarySection .reservationResponsive form .dateInputResponsive .dateTittle {
    grid-area: c1;
    align-self: flex-end;
    justify-self: center;
  }
  .secondarySection .reservationResponsive form .dateInputResponsive .checkInResponsive {
    grid-area: c2;
    align-self: center;
    justify-self: flex-end;
    margin-right: 0.625rem;
  }
  .secondarySection .reservationResponsive form .dateInputResponsive .checkInResponsive input {
    width: 12.5rem;
    height: 3.125rem;
  }
  .secondarySection .reservationResponsive form .dateInputResponsive .checkOutResponsive {
    grid-area: c3;
    align-self: center;
    justify-self: flex-start;
    margin-left: 0.4375rem;
  }
  .secondarySection .reservationResponsive form .dateInputResponsive .checkOutResponsive input {
    width: 12.5rem;
    height: 3.125rem;
  }
  .secondarySection .reservationResponsive .guestInputResponsive {
    height: 6.25rem;
    grid-area: dr3;
    justify-self: flex-start;
    align-self: center;
    margin-left: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: none;
  }
  .secondarySection .reservationResponsive .guestInputResponsive input {
    width: 15.625rem;
    height: 3.125rem;
  }
  .secondarySection .reservationResponsive .buttonFormInputResponsive {
    grid-area: dr4;
    align-self: center;
    justify-self: center;
  }
  .secondarySection .reservationResponsive .buttonFormInputResponsive .buttonForm {
    background-color: #1e1a34;
    color: #C6C4D2;
    height: 3.125rem;
  }
  .thirdSection .theHotel {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .thirdSection .theHotel .theHotelInfo {
    display: none;
  }
  .thirdSection .theHotel .pool1 {
    padding: 0;
    height: 31.25rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    justify-content: flex-start;
  }
  .thirdSection .theHotel .pool1 .theHotelInfoResponsive {
    padding: 0.9375rem;
    display: block;
    grid-column: 1/2;
    background-color: rgba(198, 196, 210, 0.4);
    color: rgb(0, 0, 0);
    backdrop-filter: blur(4px);
    justify-self: flex-start;
    align-self: center;
    width: 100%;
    height: 31.25rem;
    margin-left: 0;
  }
  .thirdSection .theHotel .pool1 .theHotelInfoResponsive h3 {
    color: black;
    font-weight: bold;
    padding: 0;
    font-family: "Playfair Display", serif;
  }
  .thirdSection .theHotel .pool1 .theHotelInfoResponsive p {
    font-family: "Antic", sans-serif;
    font-size: 0.9375rem;
    font-weight: bolder;
    margin: 0.3125rem;
  }
  .thirdSection .designAndComfort {
    margin: 6.25rem 0;
  }
  .thirdSection .designAndComfort .airVision {
    grid-column: 1/3;
    padding: 0;
    height: 31.25rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    justify-content: flex-end;
  }
  .thirdSection .designAndComfort .airVision .designAndComfortInfoResponsive {
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    flex-wrap: wrap;
    grid-column: 2/3;
    background-color: rgba(198, 196, 210, 0.4);
    color: rgb(0, 0, 0);
    backdrop-filter: blur(4px);
    justify-self: flex-start;
    align-self: center;
    width: 100%;
    height: 31.25rem;
    margin-left: 0;
  }
  .thirdSection .designAndComfort .airVision .designAndComfortInfoResponsive h3 {
    color: black;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-size: 1.25rem;
  }
  .thirdSection .designAndComfort .airVision .designAndComfortInfoResponsive p {
    font-size: 0.9375rem;
    color: black;
    font-weight: bolder;
    font-family: "Antic", sans-serif;
    margin: 0.3125rem;
  }
  .thirdSection .designAndComfort .designAndComfortInfo {
    display: none;
  }
  footer {
    height: 23.4375rem;
  }
  /* accommodations */
  .sectionMainAcc .mainTittle {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 28rem;
    height: 9rem;
    align-self: center;
  }
  .sectionMainAcc .mainTittle h2 {
    font-size: 2.5rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .tittleSectionOne {
    padding: 1.25rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .card {
    display: none;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: none;
    background-color: #1e1a34;
    width: 100%;
    height: 18.75rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive .infoImpar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: none;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive .infoImpar h4 {
    font-size: 1.2rem;
    color: white;
    font-family: "Playfair Display", serif;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive .infoImpar .icon {
    display: flex;
    font-size: 1.875rem;
    color: white;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive .infoImpar .icon img {
    width: 1.875rem;
    height: 1.875rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive .infoImpar button {
    height: 2.5rem;
    width: 8rem;
    background-color: rgb(198, 196, 210);
    box-shadow: 0px 0px 4px black;
    font-size: 0.9375rem;
    font-weight: bold;
    border: none;
    border-radius: 0.1875rem;
    cursor: pointer;
    transition: 1s;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive .infoImpar button:hover {
    background-color: #5F5A7C;
    color: white;
    box-shadow: 0 0 10px black;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive img {
    margin-top: 5px;
    width: 22.625rem;
    height: 14.125rem;
  }
  .loungesAndSuites .titleSectionTwo {
    padding: 1.25rem;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwo {
    display: none;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: none;
    background-color: #C6C4D2;
    width: 100%;
    height: 18.75rem;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive .infoPar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: none;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive .infoPar .h4 {
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: "Playfair Display", serif;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive .infoPar .icon {
    display: flex;
    font-size: 1.875rem;
    color: rgb(0, 0, 0);
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive .infoPar .icon img {
    width: 1.875rem;
    height: 1.875rem;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive .infoPar button {
    height: 2.5rem;
    width: 8rem;
    background-color: rgb(198, 196, 210);
    box-shadow: 0px 0px 4px black;
    font-size: 0.9375rem;
    font-weight: bold;
    border: none;
    border-radius: 0.1875rem;
    cursor: pointer;
    transition: 1s;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive .infoPar button:hover {
    background-color: #5F5A7C;
    color: white;
    box-shadow: 0 0 10px black;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive img {
    margin-top: 5px;
    width: 22.625rem;
    height: 14.125rem;
  }
  /* services */
  main .mainServicesSection .mainTittleServ {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 28rem;
    height: 9rem;
    align-self: center;
  }
  main .servicesCards {
    gap: 0;
    margin: 3.125rem 0;
  }
  /* events */
  .sectionContainer .socialEvents .socialEventsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo {
    grid-row: 2/3;
  }
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo h3 {
    align-self: flex-start;
  }
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo .verMas {
    justify-self: center;
  }
  .sectionContainer .socialEvents .socialEventsGrid .socialEventImgCont {
    grid-row: 1/2;
  }
  .sectionContainer .gallery {
    display: none;
  }
  .sectionContainer .carouselGal {
    display: block;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .conferenceRoomsImgCont {
    grid-row: 1/2;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo {
    grid-row: 2/3;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo h3 {
    justify-self: center;
    align-self: flex-start;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo .verMasP {
    justify-self: center;
  }
  /* contact */
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .contenedor .contactForm {
    grid-row: 1/2;
    justify-self: center;
    align-items: center;
  }
  .contenedor form {
    width: 90%;
  }
  .contenedor form fieldset {
    padding: 0;
  }
  .contenedor .frequentQuestions {
    grid-row: 2/3;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: none;
    margin: 0;
  }
  .contenedor .frequentQuestions .questionsContainer {
    margin: 1.25rem 1.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    flex-wrap: none;
  }
}
@media (max-width: 575px) {
  header .navBoot .menuContainer {
    height: 6.875rem;
  }
  header .navBoot .menuContainer .colapsoNav .barraNavegacion {
    width: 100%;
  }
  header .navBoot .menuContainer .colapsoNav .barraNavegacion li a {
    font-size: 1.125rem;
  }
  .secondarySection .reservationResponsive form .destinationInputResponsive input {
    width: 12.5rem;
  }
  .secondarySection .reservationResponsive form .guestInputResponsive input {
    width: 12.5rem;
  }
  .thirdSection .theHotel .pool1 .theHotelInfoResponsive {
    padding: 0.3125rem;
  }
  .thirdSection .theHotel .pool1 .theHotelInfoResponsive h3 {
    font-size: 1.25rem;
    text-align: center;
  }
  .thirdSection .theHotel .pool1 .theHotelInfoResponsive p {
    font-size: 0.9375rem;
  }
  .thirdSection .designAndComfort .airVision .designAndComfortInfoResponsive {
    padding: 0.3125rem;
  }
  .thirdSection .designAndComfort .airVision .designAndComfortInfoResponsive h3 {
    font-size: 1rem;
  }
  .thirdSection .designAndComfort .airVision .designAndComfortInfoResponsive p {
    font-size: 0.9375rem;
  }
  /* accommodations */
  .sectionMainAcc .mainTittle {
    width: 18.75rem;
    height: 7.8125rem;
    margin: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
  }
  .sectionMainAcc .mainTittle h2 {
    font-size: 2rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive .infoImpar img {
    width: 18.1rem;
    height: 11.3rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive .infoImpar h4 {
    font-size: 0.96rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive .infoImpar .icon {
    font-size: 1.5rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive .infoImpar .icon img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive img {
    width: 18.1rem;
    height: 11.3rem;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive img {
    width: 18.1rem;
    height: 11.3rem;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive .infoPar h4 {
    font-size: 0.96rem;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive .infoPar .icon {
    font-size: 1.5rem;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive .infoPar .icon img {
    width: 1.5rem;
    height: 1.5rem;
  }
  /* services */
}
@media (max-width: 480px) {
  .secondarySection .reservationResponsive form .destinationInputResponsive input {
    width: 9.375rem;
  }
  .secondarySection .reservationResponsive form .dateInputResponsive .checkInResponsive input {
    width: 9.375rem;
  }
  .secondarySection .reservationResponsive form .dateInputResponsive .checkOutResponsive input {
    width: 9.375rem;
  }
  .secondarySection .reservationResponsive form .guestInputResponsive input {
    width: 9.375rem;
  }
  .thirdSection {
    height: 250vh;
  }
  .thirdSection .theHotel {
    margin: 3.125rem 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 45%;
  }
  .thirdSection .theHotel .theHotelInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: none;
    grid-row: 2/3;
    background-image: none;
    background-color: rgb(198, 196, 210);
    padding: 0.9375rem;
  }
  .thirdSection .theHotel .theHotelInfo h3 {
    padding: 0;
    font-size: 1.1rem;
    color: black;
  }
  .thirdSection .theHotel .theHotelInfo p {
    font-size: 0.8125rem;
    color: black;
    font-weight: bolder;
    margin: 0;
  }
  .thirdSection .theHotel .pool1 {
    height: 100%;
    grid-row: 1/2;
  }
  .thirdSection .theHotel .pool1 .theHotelInfoResponsive {
    display: none;
  }
  .thirdSection .designAndComfort {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 45%;
  }
  .thirdSection .designAndComfort .airVision {
    height: 100%;
    grid-column: 1/2;
  }
  .thirdSection .designAndComfort .airVision .designAndComfortInfoResponsive {
    display: none;
  }
  .thirdSection .designAndComfort .designAndComfortInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: none;
    grid-row: 2/3;
    background-image: none;
    background-color: rgb(198, 196, 210);
    padding: 0.9375rem;
  }
  .thirdSection .designAndComfort .designAndComfortInfo h3 {
    padding: 0;
    font-size: 1.1rem;
    color: black;
  }
  .thirdSection .designAndComfort .designAndComfortInfo p {
    font-family: "Antic", sans-serif;
    font-size: 0.8125rem;
    color: black;
    font-weight: bolder;
    margin: 0;
  }
  footer .infoFooter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
  }
  footer .infoFooter .logoMobile {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
  }
  footer .infoFooter .directionAndContact {
    text-align: center;
  }
  footer .infoFooter .footerList {
    display: none;
  }
  footer .lastLine {
    justify-content: center;
  }
  footer .lastLine div {
    display: none;
  }
  footer .lastLine div span {
    display: none;
  }
  footer .lastLine div span .logoFooter {
    display: none;
  }
  /* accommodations */
  .sectionMainAcc .mainTittle {
    width: 20rem;
  }
  .sectionMainAcc .mainTittle h2 {
    font-size: 2.25rem;
  }
  .sectionSecondaryAcc .titleSectionOne h3 {
    font-size: 1.8rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .card {
    display: flex;
  }
  .sectionSecondaryAcc .StandardRoomsCards .card img {
    width: 18.1rem;
    height: 11.3rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .card button .moreInfo img {
    width: 1.875rem;
    height: 1.875rem;
  }
  .sectionSecondaryAcc .StandardRoomsCards .cardResponsive {
    display: none;
  }
  .loungesAndSuites .titleSectionTwo h3 {
    font-size: 1.8rem;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwoResponsive {
    display: none;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwo {
    display: flex;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwo img {
    width: 18.1rem;
    height: 11.3rem;
  }
  .loungesAndSuites .loungesAndSuitesCards .cardTwo button .moreInfoTwo img {
    width: 1.875rem;
    height: 1.875rem;
  }
  /* services */
  main .mainServicesSection .mainTittleServ {
    width: 20rem;
    height: 7.5rem;
  }
  main .mainServicesSection .mainTittleServ h2 {
    font-size: 2.5rem;
  }
  /* events */
  .eventsSection div {
    width: 17rem;
  }
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo h3 {
    font-size: 1.5rem;
  }
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo p {
    font-size: 1rem;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo h3 {
    font-size: 1.5rem;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo p {
    font-size: 1rem;
  }
  /* contact */
  .contenedor .frequentQuestions {
    margin-top: 9.375rem;
  }
  .contenedor .frequentQuestions h3 {
    font-size: 1.625rem;
  }
  .contenedor .frequentQuestions .questionsContainer .question ul li {
    font-size: 0.875rem;
  }
  .contenedor .contactForm {
    margin-bottom: 3.125rem;
  }
  .contenedor .contactForm h3 {
    font-size: 1.625rem;
  }
  .contenedor .contactForm form fieldset {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 5fr 1fr;
  }
  .contenedor .contactForm form fieldset .name {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .contenedor .contactForm form fieldset .name .inputName input {
    width: 100%;
  }
  .contenedor .contactForm form fieldset .name .inputLastname input {
    width: 100%;
  }
  .contenedor .contactForm form fieldset .email {
    margin-top: 1.25rem;
  }
  .contenedor .contactForm form fieldset .email input {
    width: 100%;
  }
  .contenedor .contactForm form fieldset .number {
    margin-top: 1.25rem;
  }
  .contenedor .contactForm form fieldset .number input {
    width: 100%;
  }
  .contenedor .contactForm form fieldset .bloque {
    margin-top: 1.25rem;
  }
  .contenedor .contactForm form fieldset .boton {
    margin-top: 1.25rem;
  }
}
@media (max-width: 375px) {
  .mainSection .mainSlogan {
    width: 18.75rem;
  }
  .secondarySection .reservationResponsive form .destinationInputResponsive {
    justify-content: center;
  }
  .secondarySection .reservationResponsive form .destinationInputResponsive legend {
    font-size: 0.875rem;
    font-weight: bolder;
  }
  .secondarySection .reservationResponsive form .destinationInputResponsive input {
    width: 7.8125rem;
  }
  .secondarySection .reservationResponsive form .guestInputResponsive {
    justify-content: center;
    margin-left: 0.6875rem;
  }
  .secondarySection .reservationResponsive form .guestInputResponsive legend {
    font-size: 0.875rem;
    font-weight: bolder;
  }
  .secondarySection .reservationResponsive form .guestInputResponsive input {
    width: 7.8125rem;
  }
  .secondarySection .reservationResponsive form .dateInputResponsive legend {
    font-size: 0.875rem;
    font-weight: bolder;
  }
  .secondarySection .reservationResponsive form .dateInputResponsive .checkInResponsive input {
    width: 7.8125rem;
  }
  .secondarySection .reservationResponsive form .dateInputResponsive .checkOutResponsive input {
    width: 7.8125rem;
  }
  .thirdSection {
    margin-top: 9.375rem;
  }
  .thirdSection .theHotel .theHotelInfo p {
    font-size: 0.7813rem;
  }
  /* accommodations */
  .sectionMainAcc .mainTittle {
    width: 18rem;
  }
  .sectionMainAcc .mainTittle h2 {
    font-size: 1.75rem;
  }
  /* services */
  main .mainServicesSection .mainTittleServ {
    width: 18rem;
  }
  main .servicesCards .serviceCard {
    width: 17.35rem;
    height: 19.65rem;
  }
  main .servicesCards .serviceCard img {
    width: 17.35rem;
    height: 11.6rem;
  }
  main .servicesCards .serviceCard h4 {
    font-size: 1rem;
    font-weight: bolder;
  }
  main .servicesCards .serviceCard p {
    font-size: 0.75rem;
  }
  /* events */
  .sectionContainer .socialEvents .socialEventsGrid .containSocialInfo {
    padding-right: 0;
  }
  .sectionContainer .socialEvents .socialEventsGrid .socialEventImgCont .socialEventImg {
    width: 20rem;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .conferenceRoomsImgCont img {
    width: 80% !important;
  }
  .sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo {
    padding-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
