* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1a34;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
header .marcaHotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.625rem;
}
header .marcaHotel img {
  width: 3.75rem;
  height: 3.75rem;
}
header .marcaHotel h1 {
  font-size: 1.625rem;
  color: white;
  font-family: "Playfair Display", serif;
}

.navbar {
  background-image: linear-gradient(to bottom, #1e1a43, rgb(153, 140, 168));
}

.navbar-nav {
  gap: 0.9375rem;
  margin-left: 3.125rem;
}
.navbar-nav li a {
  color: white;
  font-size: 1.25rem;
  font-weight: bolder;
  transition: 0.5s;
  font-family: "Playfair Display", serif;
}
.navbar-nav:hover {
  color: black;
}

.btnBookNow {
  color: black;
  width: 6.25rem;
  background-color: rgb(198, 196, 210);
  padding: 0.9375rem;
  box-shadow: 0px 0px 4px black;
  font-size: 0.75rem;
  font-weight: bold;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: 1s;
}
.btnBookNow:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 10px black;
}

.buttonForm {
  width: 8rem;
  background-color: rgb(198, 196, 210);
  box-shadow: 0px 0px 4px black;
  font-size: 0.9375rem;
  font-weight: bold;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: 1s;
}
.buttonForm:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 10px black;
}

.btnServ {
  background-color: rgba(198, 196, 210, 0.7);
  color: rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  font-family: "Antic", sans-serif;
  font-weight: bolder;
  transition: 1s;
}
.btnServ:hover {
  background-color: rgb(198, 196, 210);
}

.mainSection {
  background-color: #1e1a34;
  background-image: url("../assets/img/hotel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 7.5rem;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "cuad1 cuad2" "cuad3 cuad3";
}
.mainSection .mainSlogan {
  grid-area: cuad1;
  justify-self: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.1875rem;
  background-color: rgba(30, 26, 52, 0.7);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(4px);
  width: 37.5rem;
  height: 14.375rem;
  padding: 0.3125rem 0 0.1875rem 0.3125rem;
}
.mainSection .mainSlogan p {
  color: white;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  padding-left: 1.25rem;
}
.mainSection .mainSlogan h2 {
  color: white;
  text-align: center;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
}
.mainSection .reservationWindow {
  justify-self: center;
  align-self: center;
  grid-area: cuad3;
  background-color: rgba(198, 196, 210, 0.4);
  color: rgb(0, 0, 0);
  backdrop-filter: blur(4px);
  width: 87vw;
  height: 8.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainSection .reservationWindow form {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
}
.mainSection .reservationWindow form legend {
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
}
.mainSection .reservationWindow form input {
  padding: 0.3125rem;
  height: 2.8125rem;
}
.mainSection .reservationWindow form .destinationInput {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.mainSection .reservationWindow form .dateInput {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.mainSection .reservationWindow form .guestInput {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.mainSection .reservationWindow form .buttonFormInput {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.secondarySection {
  margin-top: 0;
  background-color: #1e1a34;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondarySection .openIntro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.secondarySection .openIntro .divisoryLane {
  height: 0.125rem;
  width: 31.25rem;
  background-color: rgb(255, 255, 255);
  margin: 2.5rem 0;
}
.secondarySection .openIntro .row .col-10 {
  padding-right: 0;
}
.secondarySection .openIntro .row .col-10 .carouselIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.625rem solid #1e1a34;
}
.secondarySection .openIntro .row .col-10 .carouselIntro .carouselCustom {
  width: 90%;
  height: 25rem;
}
.secondarySection .openIntro .row .col-10 .carouselIntro .carouselCustom img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.secondarySection .openIntro .row .col-lg-4 {
  padding-right: 0;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: none;
}
.secondarySection .openIntro .row .col-lg-4 h2 {
  color: white;
  font-family: "Playfair Display", serif;
}
.secondarySection .openIntro .row .col-lg-4 p {
  color: white;
  font-family: "Antic", sans-serif;
}
.secondarySection .openIntro .reservationResponsive {
  display: none;
}

.thirdSection {
  height: 250vh;
}
.thirdSection .theHotel {
  height: 100vh;
  margin-top: 9.375rem;
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
}
.thirdSection .theHotel .theHotelInfo {
  justify-self: center;
  align-self: center;
  height: 100vh;
  background-image: linear-gradient(to right, #1e1a43, rgb(153, 140, 168));
  opacity: 0.8;
}
.thirdSection .theHotel .theHotelInfo h3 {
  text-align: center;
  padding-left: 2.1875rem;
  color: white;
  margin-top: 1.25rem;
  font-family: "Playfair Display", serif;
}
.thirdSection .theHotel .theHotelInfo p {
  margin-top: 3.125rem;
  font-size: 1.625rem;
  color: white;
  font-family: "Antic", sans-serif;
}
.thirdSection .theHotel .pool1 {
  height: 100vh;
  background-image: url(../assets/img/hotel-pool1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.thirdSection .theHotel .pool1 .theHotelInfoResponsive {
  display: none;
}
.thirdSection .designAndComfort {
  height: 100vh;
  margin-top: 12.5rem;
  margin-bottom: 12.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
}
.thirdSection .designAndComfort .airVision {
  height: 100vh;
  background-image: url(../assets/img/hotelairvision.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.thirdSection .designAndComfort .airVision .designAndComfortInfoResponsive {
  display: none;
}
.thirdSection .designAndComfort .designAndComfortInfo {
  justify-self: center;
  align-self: center;
  height: 100vh;
  opacity: 0.8;
  background-image: linear-gradient(to left, #1e1a43, rgb(153, 140, 168));
}
.thirdSection .designAndComfort .designAndComfortInfo h3 {
  text-align: center;
  padding-left: 2.1875rem;
  color: white;
  margin-top: 1.25rem;
}
.thirdSection .designAndComfort .designAndComfortInfo p {
  margin-top: 3.125rem;
  font-size: 1.625rem;
  color: white;
}

footer {
  padding: 0;
  padding-top: 1.5625rem;
  height: 17.1875rem;
  background-color: #5F5A7C;
}
footer .lastLine {
  margin: 0;
  padding: 0;
}
footer .lastLine img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
footer .infoFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}
footer .infoFooter .directionAndContact p {
  color: white;
  font-family: "Antic", sans-serif;
}
footer .infoFooter .footerList ul {
  list-style: none;
}
footer .infoFooter .footerList ul li {
  color: white;
  font-family: "Antic", sans-serif;
}

.accHeader {
  position: static;
}

.sectionMainAcc {
  background-image: url(../assets/img/hotelroommain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.sectionMainAcc div {
  width: 40rem;
  height: 12.5rem;
  background-color: rgba(30, 26, 52, 0.7);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(4px);
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: flex-end;
  justify-self: center;
}
.sectionMainAcc div h2 {
  font-size: 4rem;
  text-align: center;
  padding: 3.5938rem 0;
}

.sectionSecondaryAcc {
  background-color: #C6C4D2;
  padding: 1.25rem 0rem;
}
.sectionSecondaryAcc .titleSectionOne {
  background-color: rgba(95, 90, 124, 0.8);
  color: white;
  width: 95vw;
  height: 5.625rem;
  padding: 1.25rem 0;
}
.sectionSecondaryAcc .titleSectionOne h3 {
  font-size: 2.5rem;
}
.sectionSecondaryAcc .StandardRoomsCards {
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card {
  margin-top: 20px;
  width: 24.8125rem;
  height: 31.5rem;
  background-color: #1e1a34;
  border: 1px solid #C6C4D2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card img {
  margin-top: 5px;
  width: 22.625rem;
  height: 14.125rem;
}
.card h4 {
  font-size: 1.875rem;
  color: white;
}
.card button .moreInfo {
  display: flex;
  font-size: 1.875rem;
  color: white;
  transition: 1s;
}
.card button .moreInfo img {
  width: 1.875rem;
  height: 1.875rem;
}
.card button .moreInfo:hover {
  transform: scale(1.5);
}
.card .buttonBook {
  height: 2.5rem;
  width: 8rem;
  background-color: rgb(198, 196, 210);
  box-shadow: 0px 0px 4px black;
  font-size: 0.9375rem;
  font-weight: bold;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: 1s;
}
.card .buttonBook:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 10px black;
}

.cardTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1.5625rem;
  align-items: center;
  width: 24.8125rem;
  height: 31.5rem;
  background-color: rgb(198, 196, 210);
  border: 1px solid #1e1a34;
}
.cardTwo img {
  width: 22.625rem;
  height: 14.125rem;
}
.cardTwo h4 {
  font-size: 1.875rem;
  font-family: "Playfair Display", serif;
}
.cardTwo button .moreInfoTwo {
  display: flex;
  font-size: 1.875rem;
  color: black;
  transition: 1s;
}
.cardTwo button .moreInfoTwo img {
  width: 1.875rem;
  height: 1.875rem;
}
.cardTwo button .moreInfoTwo:hover {
  transform: scale(1.5);
}
.cardTwo .buttonBook2 {
  height: 2.5rem;
  width: 8rem;
  box-shadow: 0px 0px 4px black;
  font-size: 0.9375rem;
  font-weight: bold;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: 1s;
  background-color: rgb(30, 26, 52);
  font-family: "Playfair Display", serif;
  color: white;
}
.cardTwo .buttonBook2:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 10px black;
}

.modal-header {
  background-color: #1e1a34;
}
.modal-header h4 {
  color: white;
  font-family: "Playfair Display", serif;
}

.modal-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "ar1 ar2" "ar3 ar2";
  background-color: #5F5A7C;
}
.modal-body .info {
  grid-area: ar2;
}
.modal-body .info p {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.modal-body .info ul li {
  color: white;
  font-family: "Antic", sans-serif;
}
.modal-body .descript {
  justify-self: center;
  align-self: center;
  grid-area: ar3;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-body .descript p {
  color: white;
  font-family: "Antic", sans-serif;
}
.modal-body .descript .tarifa {
  width: 12.5rem;
  background-color: #5F5A7C;
}
.modal-body .descript .tarifa p {
  color: white;
  font-family: "Antic", sans-serif;
}
.modal-body .imgModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(198, 196, 210);
  opacity: 0.75;
}

.modal-footer {
  background-color: #1e1a34;
}
.modal-footer .buttonBook {
  height: 2.5rem;
  width: 8rem;
  background-color: rgb(198, 196, 210);
  box-shadow: 0px 0px 4px black;
  font-size: 0.9375rem;
  font-weight: bold;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: 1s;
}
.modal-footer .buttonBook:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 10px black;
}

.reservationWindow {
  justify-self: center;
  align-self: center;
  grid-area: cuad3;
  background-color: rgba(198, 196, 210, 0.4);
  color: rgb(0, 0, 0);
  backdrop-filter: blur(4px);
  width: 68.75rem;
  height: 8.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservationWindow form {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
}
.reservationWindow form legend {
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
}
.reservationWindow form input {
  padding: 0.3125rem;
  height: 2.8125rem;
}
.reservationWindow form .buttonFormInput {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.reservationWindow form .buttonFormInput .buttonForm {
  width: 8rem;
  background-color: rgb(198, 196, 210);
  box-shadow: 0px 0px 4px black;
  font-size: 0.9375rem;
  font-weight: bold;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: 1s;
}
.reservationWindow form .buttonFormInput .buttonForm:hover .buttonForm:hover {
  background-color: #5F5A7C;
  color: white;
  box-shadow: 0 0 10px black;
}
.reservationWindow form .destinationInput {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.reservationWindow form .dateInput {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.reservationWindow form .guestInput {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.loungesAndSuites {
  padding: 1.25rem 0rem;
}
.loungesAndSuites .titleSectionTwo {
  background-color: rgb(198, 196, 210);
  color: black;
  width: 95vw;
  height: 5.625rem;
  padding: 1.25rem 0;
}
.loungesAndSuites .titleSectionTwo h3 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
}
.loungesAndSuites .loungesAndSuitesCards {
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main .mainServicesSection {
  background-image: url(../assets/img/resto-main.jpg);
  background-repeat: no-repeat;
  background-size: 100rem 56.25rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
main .mainServicesSection div {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: flex-end;
  justify-self: center;
  width: 36rem;
  height: 12.5rem;
  background-color: rgba(30, 26, 52, 0.7);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(4px);
}
main .mainServicesSection div h2 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  text-align: center;
  padding: 3.5938rem 0;
}
main .servicesCards {
  background-color: #1e1a34;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 6.25rem;
}
main .servicesCards .serviceCard {
  width: 21.6875rem;
  height: 24.5625rem;
  background-color: rgba(222, 217, 253, 0.8);
  justify-self: center;
  align-self: center;
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .servicesCards .serviceCard img {
  width: 21.6875rem;
  height: 14.5rem;
}
main .servicesCards .serviceCard h4 {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}
main .servicesCards .serviceCard p {
  font-family: "Antic", sans-serif;
  text-align: center;
}

.eventsSection {
  background-image: url(../assets/img/eventa-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventsSection div {
  width: 30rem;
  height: 12.5rem;
  background-color: rgba(30, 26, 52, 0.7);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(4px);
  position: relative;
  right: 25rem;
  top: 4.375rem;
}
.eventsSection div h2 {
  font-size: 4rem;
  text-align: center;
  padding: 3.5938rem 0;
  font-family: "Playfair Display", serif;
}

.sectionContainer .socialEvents {
  background-color: rgba(83, 77, 118, 0.5);
  margin: 3.125rem 0;
}
.sectionContainer .socialEvents .socialEventsGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.sectionContainer .socialEvents .socialEventsGrid .containSocialInfo {
  display: grid;
  grid-template-rows: 1fr 3fr 0.5fr;
}
.sectionContainer .socialEvents .socialEventsGrid .containSocialInfo h3 {
  justify-self: center;
  align-self: center;
  font-size: 3.5rem;
  color: white;
  font-family: "Playfair Display", serif;
}
.sectionContainer .socialEvents .socialEventsGrid .containSocialInfo p {
  color: white;
  width: 18.75rem;
  font-size: 1.5rem;
  justify-self: center;
  font-family: "Antic", sans-serif;
}
.sectionContainer .socialEvents .socialEventsGrid .containSocialInfo .verMas {
  justify-self: flex-start;
  align-self: flex-end;
  cursor: pointer;
}
.sectionContainer .socialEvents .socialEventsGrid .containSocialInfo .verMas:hover {
  color: #000000;
  font-weight: bold;
}
.sectionContainer .socialEvents .socialEventImgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5625rem 0;
}
.sectionContainer .socialEvents .socialEventImgCont img {
  width: 55.375rem;
  height: 35.75rem;
  justify-self: end;
}
.sectionContainer .gallery {
  display: flex;
  justify-content: space-evenly;
}
.sectionContainer .gallery img {
  width: 25.625rem;
  height: 17.125rem;
  filter: opacity(0.4);
  transition: 1s;
}
.sectionContainer .gallery img:hover {
  filter: opacity(1);
  width: 35.875rem;
  height: 23.975rem;
  box-shadow: 0 0 1rem black;
}
.sectionContainer .conferenceRooms {
  background-color: rgba(83, 77, 118, 0.5);
  margin: 3.5rem 0;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .conferenceRooomsImgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5625rem 0;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .conferenceRooomsImgCont img {
  width: 55.375rem;
  height: 35.75rem;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo {
  display: grid;
  grid-template-rows: 1fr 3fr 0.5fr;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo h3 {
  justify-self: flex-start;
  align-self: center;
  font-size: 2.8125rem;
  color: white;
  font-family: "Playfair Display", serif;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo p {
  color: white;
  width: 18.75rem;
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
  font-family: "Antic", sans-serif;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo .verMasP {
  justify-self: flex-start;
  align-self: flex-end;
  cursor: pointer;
}
.sectionContainer .conferenceRooms .conferenceRoomsGrid .containConferenceInfo .verMasP:hover {
  color: black;
  font-weight: bold;
}

.contenedor {
  display: flex;
  justify-content: space-around;
}
.contenedor .frequentQuestions {
  color: white;
  margin: 2.5rem 1.875rem;
}
.contenedor .frequentQuestions h3 {
  font-family: "Playfair Display", serif;
}
.contenedor .frequentQuestions .subrayado {
  width: 33.9375rem;
  height: 0.0625rem;
  background-color: white;
  margin: 10px 0;
}
.contenedor .frequentQuestions .questionsContainer .question {
  display: flex;
  width: 33.9375rem;
  height: 6.875rem;
  background-color: rgba(222, 217, 253, 0.5);
  align-items: center;
  margin-top: 0.0625rem;
}
.contenedor .contactForm {
  color: white;
  margin: 2.5rem 1.875rem;
}
.contenedor .contactForm h3 {
  font-family: "Playfair Display", serif;
}
.contenedor .contactForm p {
  font-family: "Antic", sans-serif;
}
.contenedor .contactForm form {
  margin: 3.125rem 0;
}
.contenedor .contactForm form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50rem;
}
.contenedor .contactForm form fieldset .name {
  display: flex;
  gap: 3.75rem;
  justify-content: flex-start;
}
.contenedor .contactForm form fieldset .email input {
  width: 28.125rem;
  height: 3.125rem;
}
.contenedor .contactForm form fieldset .bloque .textArea textarea {
  background-color: #C6C4D2;
  height: 19.375rem;
  width: 35.625rem;
}
.contenedor .contactForm form fieldset .bloque .textArea p {
  font-family: "Antic", sans-serif;
  font-size: 0.75rem;
  color: rgb(45, 145, 212);
}
.contenedor .contactForm form fieldset .bloque .optionYes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  position: relative;
  right: 0.625rem;
}
.contenedor .contactForm form fieldset .bloque .optionYes input {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.9375rem 0;
  padding: 0.9375rem;
}
.contenedor .contactForm form fieldset .bloque .optionYes p {
  font-size: 1.125rem;
}
.contenedor .contactForm form input {
  background-color: #C6C4D2;
}

.buttonSend {
  width: 10.9375rem;
  height: 3.125rem;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  position: relative;
  left: 30rem;
  font-weight: bold;
  transition: 1s;
}
.buttonSend:hover {
  background-color: #353150;
  color: white;
  box-shadow: 0 0 0.625rem black;
}

/*# sourceMappingURL=style.css.map */
