@media (max-width:375px) {
    .mainSection {
        .mainSlogan {
            width: 18.75rem;
        }
    }
    .secondarySection {
        .reservationResponsive {
            form {
                .destinationInputResponsive{
                    justify-content: center;
                    legend {
                        font-size: .875rem;
                        font-weight: bolder;
                    }
                    input {
                        width: 7.8125rem;
                    }
                }
                .guestInputResponsive{
                    justify-content: center;
                    margin-left: .6875rem;
                    legend {
                        font-size: .875rem;
                        font-weight: bolder;
                    }
                    input {
                        width: 7.8125rem;
                    }
                }
                .dateInputResponsive {
                    legend {
                        font-size: .875rem;
                        font-weight: bolder
                    }
                    .checkInResponsive {
                        input {
                            width: 7.8125rem;
                        }
                    }
                    .checkOutResponsive {
                        input {
                            width: 7.8125rem;
                        }
                    }
                }
            }
        }
    }
    .thirdSection {
        margin-top: 9.375rem;
        .theHotel {
            .theHotelInfo {
                p {
                    font-size: .7813rem;
                }
            }
        }
    }
    /* accommodations */
    .sectionMainAcc {
        .mainTittle {
            width: 18rem;
            h2 {
                font-size: 1.75rem;
            }
        }
    }
    /* services */
    main {
        .mainServicesSection {
            .mainTittleServ {
                width: 18rem;
                
            }
        }
        .servicesCards {
            .serviceCard {
                width: 17.35rem;
                height: 19.65rem ;
                img {
                    width: 17.35rem;
                    height: 11.6rem;
                }
                h4 {
                    font-size: 1rem ;
                    font-weight: bolder;
                }
                p {
                    font-size: .75rem;
                }
            }
        }
    }
    /* events */
    .eventsSection {
        background-position: center;
    }
    .sectionContainer {
        .socialEvents {
            .socialEventsGrid {
                .containSocialInfo {
                    padding-right:0 ;
                }
                .socialEventImgCont {
                    .socialEventImg {
                        width: 20rem;
                    }
                }
            }
        }
        .conferenceRooms {
            .conferenceRoomsGrid {
                .conferenceRoomsImgCont {
                    img {
                        width: 80% !important;
                    }
                }
                .containConferenceInfo {
                    padding-right:0 ;
                }
            }
        }
    }
}