$backMain : #1e1a34;
$backSec : rgba(198, 196, 210, 1);
$backThird : #5F5A7C;
$backNav : linear-gradient(to bottom, #1e1a43, rgb(153, 140, 168) );
$titulo : 'Playfair Display', serif ;
$parrafo : 'Antic', sans-serif;


@mixin flex($direction,$justify,$align,$wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
