.accHeader {
    position: static;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .frequentQuestions {
        justify-self: center;
        color: white;
        margin-left: 2.5rem;
        margin-top: 2.5rem;
        h3 {
            font-family: $titulo;
            font-size: 2.8125rem;
        }
        .subrayado {
            width:80% ;
            height: .0625rem;
            background-color: white;
            margin: 10px 0;
        }
        .questionsContainer{
            .question {
                @include flex(row,none,center,none);
                width: 80%;
                height: 6.875rem;
                background-color:rgba(222, 217, 253, 0.5);
                margin-top: .0625rem;
                &:last-child {
                    margin-top: .125rem;
                }
                ul { 
                    li {
                        font-size: 1.125rem;
                        font-family: $parrafo;
                        margin-right: .625rem;
                    }
                }   
            }
        }
    }
    .contactForm {
        justify-self: center;
        @include flex(column,space-around,flex-start,none);
        color: white;
        margin: 2.5rem 0;
        .subrayado {
            margin-bottom: .625rem ;
            width: 80%;
            height: .0625rem;
            background-color: rgb(255, 255, 255);
        }
        h3 {
            font-family: $titulo;
            font-size: 2.8125rem;
        }
        p {
            font-family: $parrafo;
            width: 80%;
        }
        form {
            margin: .625rem 0;
            
            fieldset {
                border: none;
                height: 50rem;
                
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 1fr 1fr 1fr 5fr 1fr;
                grid-template-areas: 
                "name name"
                "email email"
                "number number"
                "textArea textArea"
                "send send";
                .name {
                    width: 80%;
                    grid-area: name;
                    align-self: flex-start;
                    @include flex(row,flex-start,none,none);
                    gap: 3.75rem;
                    input {
                        height: 3.125rem;
                        width: 80%;
                    }
                }
                .email {
                    grid-area: email;
                    input {
                        width: 80%;
                        height: 3.125rem;
                    }
                }
                .number {
                    grid-area: number;
                    input{
                        height: 3.125rem;
                    }
                }
                .bloque {
                    grid-area: textArea;
                    .textArea {
                        
                        legend {
                            font-weight: bold;
                        }
                        textarea {
                            background-color: #C6C4D2;
                            height: 19.375rem;
                            width: 80%;
                            
                        }
                        p {
                            font-family: $parrafo;
                            font-size: .75rem;
                            color: rgb(45, 145, 212);
                        }
                    }
                    .optionYes {
                        @include flex(row,flex-start,center,none);
                        gap: .625rem;
                        input {
                            width: 1.5rem;
                            height: 1.5rem;
                            margin: .9375rem 0;
                            padding: .9375rem;
                        }
                        p {
                            font-size: 1.125rem;
                        }
                    }
                    .boton {
                        grid-area: send;
                    }
                }
            }
            input {
                background-color: #C6C4D2;
            }
        }
    }
}
.buttonSend {
    width: 10.9375rem;
    height: 3.125rem;
    font-family: $titulo;
    font-size: 1.25rem;
    font-weight: bold;
    transition: 1s;
    &:hover {
        background-color: $backThird;
        color: white;
        box-shadow: 0 0 .625rem black; 
    }
}