.secondarySection {
    margin-top: 6.25rem;
    background-color: $backMain;
    height: 100vh; 
    @include flex(row,center,center,none);
    .reservationResponsive {
        display: none;
    }
    .openIntro {
        @include flex(column,space-between,center,none);
        .divisoryLane {
            height: .125rem;
            width: 31.25rem;
            background-color: rgb(255, 255, 255);
            margin: 2.5rem 0;
        }
        .row {
            .col-10 {
                padding-right: 0;
                .carouselIntro {
                    @include flex(row,center,center,none);
                    border: .625rem solid $backMain;
                    .carouselCustom {
                        width: 90%;
                        height: 25rem;
                        img {
                            width: 100%;
                            height: 25rem;
                            object-fit: cover;
                        }
                    }
                }
            }
            .col-lg-4 {
                padding-right: 0;
                padding-left: 2.5rem;
                @include flex(column,space-around,flex-start,none);
                h2 {
                    color: white;
                    font-family: $titulo;
                }
                p {
                    color: white;
                    font-family: $parrafo;
                    ;
                }
            }
        }
        .reservationResponsive {
            display: none;
        }
    }
}