.sectionSecondaryAcc {
    background-color: $backSec;
    padding: 1.25rem 0rem;
    .titleSectionOne {
        background-color:rgba(95, 90, 124, 0.8);
        color: white;
        width: 95vw;
        height: 5.625rem;
        padding: 1.25rem 1.25rem;
        h3 {
            font-size: 2.5rem;
        }
    }
    .StandardRoomsCards {
        padding: 1.25rem 0 ;
        @include flex(row,space-evenly,none,wrap);
        margin-top: 10px;
        gap: 6.25rem;
    }
}